@media (min-width: 850px) {
  .orders {
    animation: orders-appear 1s ease-out forwards;
    width: 60%;
    margin: auto;
  }
}

.progress-icon {
  transform: translate(-50%, -50%);
}

.order {
  padding: 7px;
  border-radius: 14px;
  margin: 5%;
  cursor: pointer;
}

.order:hover {
  box-shadow: 2px 2px 4px 4px rgba(242, 242, 242);
}

@keyframes orders-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 450px) {
  .orders {
    animation: orders-appear 1s ease-out forwards;
    width: 90%;
    margin: auto;
  }
}
